/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2a3b3f;
}

/* Handle */
.reviewDiv ::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #2d884c -33.65%, #87dfa5 100%);
  border-radius: 88.1743px;
}

.errorDiv ::-webkit-scrollbar-thumb {
  background: #f27d95;
  border-radius: 88.1743px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, #2d884c -33.65%, #87dfa5 100%);
}
